<div class="container">
  <div class="p-grid">
    <div class="p-col-12">
      <h1>Nova Pessoa</h1>
    </div>

    <div class="p-col-12 p-fluid">
      <label>Nome</label>
      <input type="text" pInputText />
    </div>

    <div class="p-col-12 p-md-8 p-fluid">
      <label>Logradouro</label>
      <input type="text" pInputText />
    </div>

    <div class="p-col-12 p-md-4 p-fluid">
      <label>Número</label>
      <input type="text" pInputText />
    </div>

    <div class="p-col-12 p-md-4 p-fluid">
      <label>Complemento</label>
      <input type="text" pInputText />
    </div>

    <div class="p-col-12 p-md-4 p-fluid">
      <label>Bairro</label>
      <input type="text" pInputText />
    </div>

    <div class="p-col-12 p-md-4 p-fluid">
      <label>CEP</label>
      <input type="text" pInputText />
    </div>

    <div class="p-col-12 p-md-6 p-fluid">
      <label>Cidade</label>
      <input type="text" pInputText />
    </div>

    <div class="p-col-12 p-md-6 p-fluid">
      <label>Estado</label>
      <input type="text" pInputText />
    </div>

    <div class="p-col-12">
      <button type="submit" pButton label="Salvar" class="p-mr-1"></button>
      <button type="button" pButton label="Novo" class="p-button-info p-mr-1"></button>
      <button type="button" pButton label="Voltar" class="p-button-text p-button-plain"></button>
    </div>
  </div>
</div>
