<nav class="navbar">
  <div class="container">
    <div class="p-grid">
      <div class="p-col-12">
        <a href="javascript:;" [style]="exibirToggle() ? '': 'margin-left: -99999px;'" class="navbar-toggle" (click)="exibirMenu = !exibirMenu"> <i class="pi pi-bars"></i> </a>
      </div>
    </div>
  </div>

  <ul class="navbar-menu" [hidden]="!exibirMenu">
    <li class="navbar-usuario"> Administrador </li>
    <li class="navbar-menu-item" routerLinkActive="ativo"><a routerLink="/lancamentos"> Lançamentos </a></li>
    <li class="navbar-menu-item" routerLinkActive="ativo"><a routerLink="/pessoas"> Pessoas </a></li>
    <li class="navbar-menu-item"><a href="#"> Logout </a></li>
  </ul>
</nav>
