/* You can add global styles to this file, and also import other style files */
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #404C51;
  margin: 0;
}

label {
  font-weight: bold;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}

.col-valor {
  width: 120px;
  text-align: right!important;
}

.col-data {
  width: 120px;
  text-align: center!important;
}

.text-center {
  text-align: center!important;
}

.text-right {
  text-align: right!important;
}

.text-left {
  text-align: left!important;
}

.p-datatable-header {
  text-align: center!important;
}

@media screen and (max-width: 40rem) {
  .text-center {
    text-align: inherit!important;
  }
  .text-right {
    text-align: inherit!important;
  }

  .last-child {
    border-bottom: 1px solid var(--surface-d)!important;
  }
}

.container {
  padding: 0px 10px 0px 10px;
}

.p-button {
  text-decoration: none;
}

